name: Continuous Deployment

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  publish_prerelease:
    name: PyPI - Publish prerelease on merge commit on main
    if: github.repository_owner == 'AndersSpringborg'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build
          python -m pip install -r requirements.txt
      - name: Build
        run: python -m build
      - name: Publish prerelease version to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip_existing: true